/* PAGES */
@import './home.css';
@import './about.css';
@import './lost.css';
/* COMPONENTS */
@import './header.css';
@import './banner.css';
@import './tag.css';
@import './thumb.css';
@import './thumbbox.css';
@import './showbox.css';
@import './showboxlong.css';
@import './footer.css';
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

body {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    padding: 2% 2% 0 2%;
    margin: 0;
}

#root {
    /* width: 1440px; */
    width: 100%;
}






@media screen and (max-width: 700px) {
    body {
        width: 100%;
        padding: 5% 5% 0 5%;
    }

    #root {
        width: 100%;
    }
}