/* PAGES */
@import './home.css';
@import './about.css';
@import './location.css';
@import './lost.css';
/* COMPONENTS */
@import './header.css';
@import './banner.css';
@import './tag.css';
@import './card.css';
@import './cardbox.css';
@import './collapse.css';
@import './carrousel.css';
@import './footer.css';
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
}

.bodyContainer {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 2% 2% 0 2%; */
    padding-top: 40px;
    margin: auto;
    min-height: calc(100vh - 209px);
    /* height: fit-content; */
}

#root {
    /* width: 1440px; */
    width: 100%;
}






@media screen and (max-width: 1440px) {
    body {
        width: 100%;
    }

    .bodyContainer {
        width: 100%;
        padding: 5% 5% 0 5%;
    }

    #root {
        width: 100%;
    }
}