.banner {
    position: relative;
    width: 100%;
    height: 223px;
    /* mix-blend-mode: darken; */
    background-color: black;
    overflow: hidden;
    border-radius: 25px;
}

.banner-image {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url('../bannerBG.png'); */
    background-size: 100% auto;
    background-position: center;
}

.banner-voile {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.banner-texte {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    /* opacity: 0.3; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}





@media screen and (max-width: 1000px) {
    .banner {
        height: 110px;
        border-radius: 10px;
    }

    .banner-image {
        background-size: cover;
        background-position: center;
    }

    .banner-texte {
        flex-direction: column;
        align-items: flex-start;
        font-size: 24px;
        width: 72%;
        padding: 0 0 0 16px;
    }
}