.cardBox {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    background-color: #F6F6F6;
    width: 100%;
    height: fit-content;
    border-radius: 25px;
    margin: 40px 0;
    padding: 30px 20px;
}



@media screen and (max-width: 1440px) {
    .cardBox {
        padding: 0;
        margin: 10px 0 0 0;
        background: none;
        grid-template-columns: repeat(1, 1fr);
    }
}