/* Collapse avec affichage caché, se développe au clique. */
.collapse {
    position: relative;
    /* width: fit-content; */
    /* height: 100%; */
    /* min-width: 580px; */
    min-width: 580px;
    max-width: 1020px;
    width: 100%;
    margin: 15px 0;
}

.collapse-up {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 13px 20px;
    height: 47px;
    align-items: center;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
}

.collapse-title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.collapse-down {
    position: relative;
    display: flex;
    transition: 0.5s;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #F6F6F6;
    color: #FF6060;
    border-radius: 0 0 10px 10px;
    top: -10px;
    font-size: 18px;
    font-weight: 400;
    padding: 40px 20px 20px 20px;
    text-align: justify;
    height: 100%;
}

.collapse-down ul {
    margin: 0;
    padding-inline-start: 0;
    line-height: 25px;
}
.collapse-down li {
    list-style: none;
}

.collapse-arrow {
    transform: rotate(180deg);
}

.arrow-rotate {
    transform: rotate(0deg);
    /* transition: 0.3s; */
}

/* création de la classe secondaire pour mise en forme sur la page About */
.collapse-about-style {
    border-radius: 5px;
}

.collapse-about-style .collapse-title {
    font-size: 24px;
    margin: 0;
}



@media screen and (max-width: 1440px) {
    .collapse {
        width: 100%;
        min-width: 100px;
        max-width: 100%;
        margin: 20px 0 0 0;
    }

    .collapse-up {
        padding: 5.5px 12px;
        border-radius: 5px;
        height: 30px;
    }

    .collapse-title {
        margin: 0;
        font-size: 13px;
        font-weight: 500;
    }

    .collapse-down {
        border-radius: 0 0 5px 5px;
        font-size: 12px;
        padding: 30px 12px 10px 12px;
    }

    .collapse-down ul {
        line-height: 17px;
    }

    .collapse-arrow img {
        width: 15px;
        height: 9px;
    }

    /* création de la classe secondaire pour mise en forme sur la page About */

    .collapse-about-style .collapse-title {
        font-size: 13px;
    }
}