.box404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #FF6060;
    /* color: #608aff; */
    width: 100%;
    height: 70vh;
}

.error-slot {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-text {
    font-size: 288px;
    font-weight: 700;
    margin-bottom: 0px;
}

.small-text {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    /* margin-bottom: 200px; */
}

.box404 a {
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
}




@media screen and (max-width: 1440px) {
    .box404 {
        height: 70vh;
        /* justify-content: space-around; */
    }
    .big-text {
        font-size: 96px;
    }

    .small-text {
        font-size: 18px;
        width: 100%;
        text-align: center;
        /* margin-bottom: 150px; */
    }
}